<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <!-- 因为 AJAX 库和通用工具的生态已经相当丰富，Vue 核心代码没有重复 -->
    <!-- 提供这些功能以保持精简。这也可以让你自由选择自己更熟悉的工具。 -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
    <div id="app">
        {{message}}
        <div v-bind:id="dynamicId"></div>
        <button v-bind:disabled="isButtonDisabled">Button</button>
        <div>{{ number + 1 }}</div>
        <div>{{ ok ? 'YES' : 'NO' }}</div>
        <div>{{ message.split('').reverse().join('') }}</div>
        <p v-if="seen">现在你看到我了</p>
        <div>
            <a v-bind:href="url">v-bind:href</a>
        </div>
        <div>
            <a :href="url">v-bind:href 缩写为 :href</a>
        </div>
        <div v-on:click="clickThis">v-on:</div>
        <div v-on:click="clickThis">event.stopPropagation()<span v-on:click.stop="clickStop">v-on:</span></div>
        <div @click="clickThis">v-on:click 缩写为 @click</div>
        <p>Original message: "{{ message2 }}"</p>
        <p>Computed reversed message: "{{ reversedMessage2 }}"</p>

        <div :class="'active text-danger'">:class传入字符串</div>
        <div class="cls" :class="'active text-danger'">:class传入字符串-原本带有class属性的</div>

        <div :class="{active:isActive, 'text-danger': hasError}">:class传入对象-方式1</div>
        <div class="cls" :class="{active:isActive, 'text-danger': hasError}">:class传入对象-方式1-原本带有class属性的</div>
        <div :class="classObj">:class传入对象-方式2</div>
        <div class="cls" :class="classObj">:class传入对象-方式2-原本带有class属性的</div>

        <div :class="[activeClass, errorClass]">:class传入数组</div>
        <div class="cls" :class="[activeClass, errorClass]">:class传入数组-原本带有class属性的</div>
        <div :class="[isActive ? activeClass : '', errorClass]">:class传入数组-内含表达式</div>
        <div class="cls" :class="[isActive ? activeClass : '', errorClass]">:class传入数组-内含表达式-原本带有class属性的</div>

        <div :class="[{active:isActive}, errorClass]">:class传入数组-数组内出入对象</div>
    </div>
    <div id="vm1">
        {{ fullName }}
    </div>
    <div id="vm2">
        {{ fullName }}
    </div>
    <div id="watch-example">
        <p>
            Ask a yes/no question:
            <input v-model="question" />
        </p>
        <p>{{ answer }}<img :src="imgUrl" /></p>
    </div>

    <div id="vm3">
        <h1 v-if="ok">v-if</h1>
        <h1 v-else>v-else</h1>

        <h1 v-show="ok">v-show</h1>
    </div>

    <div id="vm4">
        <h1 v-if="type === 'A'">v-if</h1>
        <h1 v-else-if="type === 'B'">v-else-if</h1>
        <h1 v-else>v-else</h1>
    </div>

    <div>
        v-for
        <ul id="example-1">
            <li v-for="item in items">
                {{item.message}}
            </li>
        </ul>
    </div>

    <div>
        v-for
        <ul id="example-2">
            <li v-for="(item, index) in items">
                {{parentMessage}} - {{index}} - {{item.message}}
            </li>
        </ul>
    </div>

    <div>
        v-for-object
        <ul id="v-for-object">
            <li v-for="value in object">
                {{value}}
            </li>
        </ul>
    </div>

    <div>
        v-for-object
        <ul id="v-for-object-">
            <li v-for="(value, key) in object">
                {{key}}:{{value}}
            </li>
        </ul>
    </div>

    <div>
        v-for-object
        <ul id="v-for-object--">
            <li v-for="(value, key, index) in object">
                {{index}}.{{key}}:{{value}}
            </li>
        </ul>
    </div>

    <div>
        filter
        <ul id="computed-">
            <li v-for="n in evenNumbers">
                {{n}}
            </li>
        </ul>
    </div>

    <div>
        filter
        <ul id="methods-">
            <li v-for="n in even(numbers)">
                {{n}}
            </li>
        </ul>
    </div>

    <div id="todo-list-example">
        <input v-model="newTodoText"
               @keyup.enter="addNewTodo"
               placeholder="Add a todo"
        />
        <div v-if="errorText">{{errorText}}</div>
        <ul>
            <li is="todo-item"
                v-for="(todo, index) in todos"
                :key="todo.id"
                :title="todo.title"
                @remove="todos.splice(index, 1)"
            ></li>
        </ul>
    </div>

    <div id="v-on">
        <button @click="counter++">Add 1</button>
        <p>{{counter}}</p>
    </div>

    <div id="component">
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
    </div>
    <div id="component-">
        <simple-counter-></simple-counter->
        <simple-counter-></simple-counter->
        <simple-counter-></simple-counter->
    </div>

    <div id="counter-event-example">
        <p>{{total}}</p>
        <button-counter v-on:increment="incrementTotal"></button-counter>
        <button-counter v-on:increment="incrementTotal"></button-counter>
    </div>

    <div id="message-event-example">
        <p v-for="msg in messages">{{msg}}</p>
        <button-message @message="handleMessage"></button-message>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'Hello vue!',
                dynamicId: 'ia',
                isButtonDisabled: 'disabled',
                number: 1,
                ok: '',
                seen: false,
                url: 'http://www.baidu.com',
                message2: '123456',
                isActive: true,
                hasError: true,
                classObj: {
                    active: true,
                    'text-danger': true
                },
                activeClass: 'active',
                errorClass: 'text-danger'
            },
            created: function () {
                console.log(this.message);
            },
            methods: {
                clickThis: function () {
                    alert(1);
                },
                clickStop: function () {
                    return;
                }
            },
            computed: {
                reversedMessage2: function () {
                    return this.message2.split('').reverse().join('');
                }
            }
        });

        var vm1 = new Vue({
            el: '#vm1',
            data: {
                firstName: 'Foo',
                lastName: 'Bar'
            },
            computed: {
                fullName: function () {
                    return this.firstName + ' ' + this.lastName;
                }
            }
        });

        var vm2 = new Vue({
            el: '#vm2',
            data: {
                firstName: 'Foo',
                lastName: 'Bar'
            },
            computed: {
                fullName: {
                    get: function () {
                        return this.firstName + ' ' + this.lastName;
                    },
                    set: function (newValue) {
                        var names = newValue.split(' ');
                        this.firstName = names[0];
                        this.lastName = names[names.length - 1];
                    }
                }
            }
        });

        var watchExampleVM = new Vue({
            el: '#watch-example',
            data: {
                question: '',
                imgUrl: '',
                answer: 'I cannot give you an answer until you ask a question!'
            },
            watch: {
                question: function (newQuestion, oldQuestion) {
                    this.answer = 'Waiting for you to stop typing...';
                    this.getAnswer();
                }
            },
            methods: {
                getAnswer: _.debounce(function(){
                    if(this.question.indexOf('?') === -1){
                        this.answer = 'Questions usually contain a question mark. ;-)';
                        this.imgUrl = '';
                        return
                    }
                    this.answer = 'Thinking...';
                    var vm3 = this;
                    axios.get('https://yesno.wtf/api')
                        .then(function (response) {
                            console.log(response)
                            vm3.answer = _.capitalize(response.data.answer);
                            vm3.imgUrl = response.data.image;
                        }).catch(function (error) {
                            vm3.answer = 'Error! Could not reach the API. ' + error
                        })
                }, 500)// 这是我们为判定用户停止输入等待的毫秒数
            }
        });

        var vm3 = new Vue({
            el: '#vm3',
            data: {
                ok: true
            }
        });

        var vm4 = new Vue({
            el: '#vm4',
            data: {
                type: 'A'
            }
        });

        var vm5 = new Vue({
            el: '#example-1',
            data: {
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            }
        });

        var vm6 = new Vue({
            el: '#example-2',
            data: {
                parentMessage: 'Parent',
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            }
        });

        var vm7 = new Vue({
            el: '#v-for-object',
            data: {
                object: {
                    firstName: 'John',
                    lastName: 'Doe',
                    age: 30
                }
            }
        });

        var vm8 = new Vue({
            el: '#v-for-object-',
            data: {
                object: {
                    firstName: 'John',
                    lastName: 'Doe',
                    age: 30
                }
            }
        });

        var vm9 = new Vue({
            el: '#v-for-object--',
            data: {
                object: {
                    firstName: 'John',
                    lastName: 'Doe',
                    age: 30
                }
            }
        });

        var vm10 = new Vue({
            el: '#computed-',
            data: {
                numbers: [ 1, 2, 3, 4, 5 ]
            },
            computed: {
                evenNumbers: function(){
                    return this.numbers.filter(function(number){
                        return number % 2 === 0;
                    });
                }
            }
        });

        var vm11 = new Vue({
            el: '#methods-',
            data: {
                numbers: [ 1, 2, 3, 4, 5 ]
            },
            methods: {
                even: function (ns) {

                    return ns.filter(function(n){
                        return n % 2 === 0;
                    });
                }
            }
        });

        Vue.component('todo-item', {
            template: '<li>{{title}}<button @click="$emit(\'remove\')">x</button></li>',
            props: ['title']
        });
        var vm12 = new Vue({
            el: '#todo-list-example',
            data: {
                newTodoText: '',
                errorText: '',
                todos:[
                    {
                        id:1,
                        title: '111111111111111'
                    },
                    {
                        id:2,
                        title: '22222222222222'
                    },
                    {
                        id:3,
                        title: '33333333333333'
                    }
                ],
                nextTodoId: 4
            },
            methods: {
                addNewTodo: function(){
                    if(this.newTodoText){
                        this.todos.push({
                            id: this.nextTodoId++,
                            title: this.newTodoText
                        });
                        this.newTodoText = '';
                        this.errorText = 'no null!!!';
                    }else{
                        this.errorText = 'no null!!!';
                    }
                }
            }
        });

        var vm13 = new Vue({
            el: '#v-on',
            data: {
                counter: 0
            }
        });

        var datas = {
            counter: 0
        };
        Vue.component('simple-counter', {
            template: '<button @click="counter++">{{counter}}</button>',
            data: function(){
                return datas;
            }
        });
        var vm14 = new Vue({
            el: '#component'
        });

        Vue.component('simple-counter-', {
            template: '<button @click="counter++">{{counter}}</button>',
            data: function(){
                return {
                    counter: 0
                }
            }
        });
        var vm15 = new Vue({
            el: '#component-'
        });


        Vue.component('button-counter', {
            template: '<button v-on:click="incrementCounter">{{counter}}</button>',
            data: function(){
                return {
                    counter: 0
                }
            },
            methods: {
                incrementCounter: function(){
                    this.counter += 1;
                    this.$emit('increment');
                }
            }
        });
        var vm16 = new Vue({
            el: '#counter-event-example',
            data: {
                total: 0
            },
            methods: {
                incrementTotal: function(){
                    this.total += 1;
                }
            }
        });

        Vue.component('button-message', {
            template: '<div>' +
            '<input type="text" v-model="message" />' +
            '<button @click="handleSendMessage">Send</button>' +
            '</div>',
            data: function(){
                return {
                    message: 'test message'
                }
            },
            methods: {
                handleSendMessage: function () {
                    this.$emit('message', {message: this.message});
                }
            }
        });
        var vm17 = new Vue({
            el: '#message-event-example',
            data: {
                messages: []
            },
            methods: {
                handleMessage: function(payload){
                    this.messages.push(payload.message);
                }
            }
        });
    </script>
</body>
</html>